# Visual Studio files
*.suo
*.ncb
*.db
*.user
*.pdb
*.idb
*.xss
*.xsc
*.xsx
ipch/
*.sdf
*.opensdf
.vs/

# Editor specific files
*.*~
*.~*
*.swp

# Git temporary merge files
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.orig
*.orig.meta
*.pdb.meta
Thumbs.db.meta

# oother
*.exe
*.ilk
Debug/
